.divQr {
  display: flex;
  justify-content: center;
  width: 14%;
  background: red;
  margin: 5rem auto;
  padding: 5px;
  border: 2px solid blue;
}
.formularioQr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 18px;
}
.textos {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}
.QRcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px;
  /* background: rgb(134, 132, 132); */
}
.submit {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding: 10px;
  width: 50%;
  cursor: pointer;
}
.btn {
  margin-top: 15px;
  padding: 10px;
  width: 50%;
  background: lightgreen;
  color: black;
  cursor: pointer;
}